.menu-box {
    width: 95%;
    height: fit-content;
    min-height: 400px;
    padding: 3px;
    margin: 30px 10px;
    border-radius: 7px;
    background-color: rgba(5, 180, 142, 0.2);
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.9;
}
