.footer {
  width: 90%;
  max-height: 90px;
  min-height: 60px;
  padding: 5px;
  text-align: left;
  background-color: #E0E4CE;
  margin: 30px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.follow-us {
  min-width: 70%;
  min-height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: fit-content;
}

.social-media:hover {
  animation: beat-pulse 0.8s ease-in-out infinite;
}

.social-media-link {
  cursor: pointer;
  height: 100%;
}

@keyframes beat-pulse {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1.4);
  }

  75% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
